.page-title {
  display: inline-block;
}

.profile-link {
  display: inline-block;
}

.post-form {
  padding: 30px 0 0 15px;
}

.new-posts {
  display: none;
}

.new-posts input, .new-posts textarea {
  margin: 10px;
}

.container {
  margin: 10px;
}
