<div>
  <ul class="content-list">
    <li class="comment-content"><%= comment.content %></li>
      <ul>
        <li class="comment-user"><%= comment.user.first_name %></li>
      </ul>
  </ul>
</div>
