<div class="container">
  <% @comments.each do |comment| %>
    <div>
      <ul class="content-list">
        <li><a href="/posts/<%= comment.post.id %>"><%= comment.content %></a></li>
      </ul>
    </div>
  <% end %>
</div>
